/* afacad-regular - cyrillic-ext_latin_latin-ext_math_symbols */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* afacad-italic - cyrillic-ext_latin_latin-ext_math_symbols */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* afacad-500 - cyrillic-ext_latin_latin-ext_math_symbols */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* afacad-500italic - cyrillic-ext_latin_latin-ext_math_symbols */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: italic;
    font-weight: 500;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* afacad-600 - cyrillic-ext_latin_latin-ext_math_symbols */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* afacad-600italic - cyrillic-ext_latin_latin-ext_math_symbols */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: italic;
    font-weight: 600;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* afacad-700 - cyrillic-ext_latin_latin-ext_math_symbols */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* afacad-700italic - cyrillic-ext_latin_latin-ext_math_symbols */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Afacad';
    font-style: italic;
    font-weight: 700;
    src: url('../../fonts/afacad-v1-cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }