:root {      
  --color-brand-dark: #FFFF;
  --color-background-dark: #0e1621;       
  --color-primary-dark: #467081;   
  --color-secondary-dark: #17212b;
  }

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;